@model MgMarmore.Site.ViewModels.BancadaViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BancadaViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Frontao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Frontao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Saia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Saia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Metodo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Metodo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantidadePecas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantidadePecas)
        </dd>
   
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
